<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Xxam</title>
        <!-- Ext -->
        <link rel="stylesheet" type="text/css" href="/bundles/xxamcore/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/bundles/xxamcalendar/css/layout.css">
        {% set themename = 'ext-theme-' ~ exttheme %}
        {% if exttheme == "carbon" %}
            <link rel="stylesheet" type="text/css" href="/ext-theme-carbon/resources/codaxy-theme-carbon-all.css">
        {% else %}
            <link rel="stylesheet" type="text/css" href="/assets/vendor/extjs/build/packages/ext-theme-{{ exttheme }}/build/resources/{{ themename }}-all.css">
        {% endif %}
        <script type="text/javascript" src="/assets/vendor/extjs/build/ext-all{%if app.environment == 'dev' %}-debug{%endif%}.js"></script>
        {% if exttheme == "carbon" %}
            <script type="text/javascript" src="/ext-theme-carbon/codaxy-theme-carbon.js"></script>
        {% else %}
            <script type="text/javascript" src="/assets/vendor/extjs/build/packages/ext-theme-{{ exttheme }}/build/{{ themename }}.js"></script>
        {% endif %}
        <script type="text/javascript" src="/assets/vendor/extjs/build/packages/sencha-charts/build/sencha-charts{%if app.environment == 'dev' %}-debug{%endif%}.js"></script>
        <script type="text/javascript">
           var menu={{ menu|json_encode|raw }}
           var xxam_core_homepage='{{path('xxam_core_homepage')}}';
           var statefulservicepath= '{{path('xxam_core_statefulservice')}}';
           var setchatidurl= '{{path('xxam_comm_setchatid')}}';
           var chattoken='{{token}}';
           var realm='realm{{tenant_id}}';
           var groups=[{% for group in app.user.groups %}{% if not loop.first %},{% endif %}'{{ group.name }}'{% endfor %}];
        </script>
        <script type="text/javascript" src="/bundles/xxamcore/js/layout.js"></script>


        
    </head>
    <body>
    </body>
</html>
