{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<script type="text/javascript">
    Ext.onReady(function() {
        Ext.create('Ext.window.Window', {
            title: 'Login',
            height: 160,
            width: 400,
            layout: 'fit',
            
            items: {  // Let's put an empty grid in xxam to illustrate fit layout
                xtype: 'form',
                bodyPadding: 10,
                layout: 'anchor',
                defaults: {
                    anchor: '100%'
                },
                reference: 'form',
                url: '{{ path("fos_user_security_check") }}',
                //jsonSubmit: false,
                //standardSubmit: true,
                items: [{
                    xtype: 'textfield',
                    name: '_username',
                    fieldLabel: '{{ 'security.login.username'|trans }}',
                    allowBlank: false,
                    value: '{{ last_username }}'
                }, {
                    xtype: 'textfield',
                    name: '_password',
                    inputType: 'password',
                    fieldLabel: '{{ 'security.login.password'|trans }}',
                    allowBlank: false
                }, {
                    xtype: 'checkbox',
                    name: '__remember_me',
                    inputType: 'checkbox',
                    value: 'on',
                    fieldLabel: '{{ 'security.login.remember_me'|trans }}',
                    allowBlank: true
                }],
                buttons: [{
                    text: '{{ 'security.login.submit'|trans }}',
                    formBind: true,
                    disabled: true,
                    handler: function() {
                        var form = this.up('form').getForm();
                        if (form.isValid()) {
                            form.submit({
                                success: function(form, action) {
                                    var response=Ext.JSON.decode(action.response.responseText);
                                    window.location.href=response.url;
                                },
                                failure: function(form, action) {
                                    var response=Ext.JSON.decode(action.response.responseText);
                                    Ext.Msg.alert('Failed', response.message);
                                }
                            });
                        }
                    }
                }]
            }
        }).show();
    });
</script>
        
{% endblock fos_user_content %}