<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Xxam</title>
        <!-- Ext -->
        <link rel="stylesheet" type="text/css" href="/bundles/xxamcore/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/bundles/xxammailclient/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/bundles/xxamcalendar/css/layout.css">
        {% set themename = 'ext-theme-' ~ exttheme %}
        {% if exttheme == "carbon" %}{% set themename = 'codaxy-theme-carbon' %}{% endif %}
        <!--<link rel="stylesheet" type="text/css" href="/ext-5.1.1/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css">-->
        <link rel="stylesheet" type="text/css" href="/ext-5.1.1/build/packages/ext-theme-{{ exttheme }}/build/resources/{{ themename }}-all.css">
         
        <script type="text/javascript" src="/ext-5.1.1/build/ext-all{%if app.environment == 'dev' %}-debug{%endif%}.js"></script>
        <!--<script type="text/javascript" src="/ext-5.1.1/build/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>-->
        <script type="text/javascript" src="/ext-5.1.1/build/packages/ext-theme-{{ exttheme }}/build/{{ themename }}.js"></script>
    </head>
    <body>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>